/*******************************
            Flex Layout
  *******************************/
/************************************
                Flex
  *********************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexRowReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexColumnReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
              Inline
  *********************************/
.inlineRow {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inlineRowReverse {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inlineColumn {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inlineColumnReverse {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
        Wrap : align on one line or on multiple with auto resize
  *********************************/
.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexNoWrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flexWrapReverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/************************************
          Width inside the flexboc
  *********************************/
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex-9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

/************************************
          alignment in cross axis | and main axis -
  *********************************/
.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/************************************
        self alignment 
  ************************************/
.selfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.selfCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selfStretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
/*# sourceMappingURL=flexboxLayout.css.map */