@font-face{
    font-family: 'Monument_Black';
    src: URL('../../font/PPMonumentExtended-Black.otf') format('truetype');
}
@font-face{
    font-family: 'Monument_Light';
    src: URL('../../font/PPMonumentExtended-Light.otf') format('truetype');
}
@font-face{
    font-family: 'Monument_Regular';
    src: URL('../../font/PPMonumentExtended-Regular.otf') format('truetype');
}