@import  '../Helpers/flexboxLayout.scss' ;
@import  '../Helpers/mediaQueries' ;
@import  '../Helpers/ceaser' ;
@import  '../Helpers/font.scss';

body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Monument_Regular';
    overflow-y: hidden;
}
.background{
    background: url('../../img/noises.svg');
    position: absolute;
    @media not all and (min-resolution:.001dpcm) { 
        @supports (-webkit-appearance: none) {
          /* Safari Only CSS here */
          background-blend-mode: multiply;

        }
    }
    @supports (contain: paint) {
          /* Safari Only CSS here */
          mix-blend-mode: multiply;

    }
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.containerHome{
    background: url('../../img/formshm.png') #1F1F1F  ;
    background-size: auto;
    @media not all and (min-resolution:.001dpcm) { 
          /* Safari Only CSS here */
          background-blend-mode: overlay;

    }
    @supports (contain: paint) { 
        @supports (-webkit-appearance: none) {
          /* Safari Only CSS here */
          mix-blend-mode: overlay;

        }
    }
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    .mainHeader{
        position: absolute;
        animation: slideInLeft 2s $easeOutQuint  ;
        a{
            text-decoration: none;
        }
        p{
            text-decoration: none;
            text-align: left;
            margin-left: 4%;
            margin-top: 0%;
            margin-bottom: 0%;
            color: white;
            text-transform: uppercase;
            @include devices(TV) {
                font-size: 5vw;
            }
            @include devices(desktop) {
                font-size: 5vw;
            }
            @include devices(laptops) {
                font-size: 5vw;
            }
            @include devices(ipad) {
                font-size: 7vw;
            }
            @include devices(mobile) {
                font-size: 12vw;
            }
            width: 82vw;
            text-shadow: #553d3d 7px 7px  ;
        }
    }
}

.firstBorderHome{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 20%;
    left: 5%;
    border-inline: 1px #929292 solid;

}
.secondBorderHome{
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 25%;
    width: 25%;
    border-right: 1px #929292 solid;
}

.fourthBorderHome{
    position: absolute;
    text-align: center;
    z-index: 1;
    height: 100%;
    left: 50%;
    width: 24%;
    border-right: 1px #929292 solid;
}
.fifthBorderHome{
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 75%;
    width: 20%;
    border-right: 1px #929292 solid;
}
.moba,.fps,.rts,.card,.other{
    transition: 2s;
    @include devices(TV) {
        margin-top: 85vh;
    }
    @include devices(desktop) {
        margin-top: 90vh;
    }
    @include devices(laptops) {
        margin-top: 90vh;
    }
    @include devices(ipad) {
        margin-top: 90vh;
    }
    @include devices(mobile) {
        margin-top: 95vh;
    }
    .gameType{
        text-align: left;
        @include devices(TV) {
            font-size: 4vw;
        }
        @include devices(desktop) {
            font-size: 4vw;
        }
        @include devices(laptops) {
            font-size: 4vw;
        }
        @include devices(ipad) {
            font-size: 4vw;
        }
        @include devices(mobile) {
            font-size: 5vw;
        }
        color: white;
        
    }
    .game{
        text-align: left;
        a{
            text-decoration: none;
            -webkit-text-stroke: 1px white;
            @include devices(TV) {
                font-size: 3vw;
            }
            @include devices(desktop) {
                font-size: 4vw;
            }
            @include devices(laptops) {
                font-size: 4vw;
            }
            @include devices(ipad) {
                font-size: 4vw;
            }
            @include devices(mobile) {
                font-size: 5vw;
            }
            color: transparent
        }
       
    }
    
}
.moba{
    @include devices(TV) {
        margin-left: 8%;
    }
    @include devices(desktop) {
        margin-left: 10%;
    }
    @include devices(laptops) {
        margin-left: 10%;
    }
    @include devices(ipad) {
        margin-left: 10%;
    }
    @include devices(mobile) {
        margin-left: 0%;
    }
    .game{
        @include devices(TV) {
            margin-left: -15%;
        }
        @include devices(desktop) {
            margin-left: -15%;
        }
        @include devices(laptops) {
            margin-left: -15%;
        }
        @include devices(ipad) {
            margin-left: -15%;
        }
        @include devices(mobile) {
            margin-left: -5%;
        }
    }
}
.fps{
    margin-left: 27%;
    .game{
        @include devices(TV) {
            margin-left: -45%;
        }
        @include devices(desktop) {
            margin-left: -35%;
        }
        @include devices(laptops) {
            margin-left: -35%;
        }
        @include devices(ipad) {
            margin-left: -35%;
        }
        @include devices(mobile) {
            margin-left: -40%;
        }
    }
}
.rts{
    margin-left: 20%;
    .game{
        @include devices(TV) {
            margin-left: -35%;
        }
        @include devices(desktop) {
            margin-left: -35%;
        }
        @include devices(laptops) {
            margin-left: -35%;
        }
        @include devices(ipad) {
            margin-left: -35%;
        }
        @include devices(mobile) {
            margin-left: -30%;
        }
    }
}
.other{
    margin-left: 0%;
    .game{
        @include devices(TV) {
            margin-left: -15%;
        }
        @include devices(desktop) {
            margin-left: -15%;
        }
        @include devices(laptops) {
            margin-left: -15%;
        }
        @include devices(ipad) {
            margin-left: -15%;
        }
        @include devices(mobile) {
            margin-left: -10%;
        }
    }
}

.firstBorderHome:hover,.secondBorderHome:hover,.thirdBorderHome:hover,.fourthBorderHome:hover,.fifthBorderHome:hover{
    .moba,.fps,.rts,.other{
        margin-top: 10vh;
        @include devices(TV) {
            margin-top: 15vh;
        }
        @include devices(desktop) {
            margin-top: 15vh;
        }
        @include devices(laptops) {
            margin-top: 10vh;
        }
        @include devices(ipad) {
            margin-top: 10vh;
        }
        @include devices(mobile) {
            margin-top: 35vh;
        }
        transition: 2s;

        .gameType{
            text-align: left;
            @include devices(TV) {
                font-size: 4vw;
            }
            @include devices(desktop) {
                font-size: 4vw;
            }
            @include devices(laptops) {
                font-size: 4vw;
            }
            @include devices(ipad) {
                font-size: 4vw;
            }
            @include devices(mobile) {
                font-size: 5vw;
            }
            color: white;
            
        }
        .game{
            text-align: left;
            a{
                text-decoration: none;
                -webkit-text-stroke: 1px white;
                @include devices(TV) {
                    font-size: 3vw;
                }
                @include devices(desktop) {
                    font-size: 4vw;
                }
                @include devices(laptops) {
                    font-size: 4vw;
                }
                @include devices(ipad) {
                    font-size: 4vw;
                }
                @include devices(mobile) {
                    font-size: 5vw;
                }
                color: transparent
            }
            a:hover{
                transition: 1s;
                text-decoration: none;
                -webkit-text-stroke: 1px white;
                @include devices(TV) {
                    font-size: 3vw;
                }
                @include devices(desktop) {
                    font-size: 5vw;
                }
                @include devices(laptops) {
                    font-size: 5vw;
                }
                @include devices(ipad) {
                    font-size: 7vw;
                }
                @include devices(mobile) {
                    font-size: 5vw;
                }
                color: white
            }
           
        }
        
    }
    .moba{
        
        .game{
            @include devices(TV) {
                margin-left: -15%;
            }
            @include devices(desktop) {
                margin-left: -15%;
            }
            @include devices(laptops) {
                margin-left: -15%;
            }
            @include devices(ipad) {
                margin-left: -15%;
            }
            @include devices(mobile) {
                margin-left: -5%;
            }
        }
    }
    .fps{
        margin-left: 27%;

        .game{
            @include devices(TV) {
                margin-left: -45%;
            }
            @include devices(desktop) {
                margin-left: -35%;
            }
            @include devices(laptops) {
                margin-left: -35%;
            }
            @include devices(ipad) {
                margin-left: -35%;
            }
            @include devices(mobile) {
                margin-left: -40%;                    

            }
        }
    }
    .rts{
        margin-left: 20%;
        .game{
            @include devices(TV) {
                margin-left: -35%;
            }
            @include devices(desktop) {
                margin-left: -35%;
            }
            @include devices(laptops) {
                margin-left: -35%;
            }
            @include devices(ipad) {
                margin-left: -35%;
            }
            @include devices(mobile) {
                margin-left: -30%;                    

            }
        }
    }
    .other{
        margin-left: 0%;
        .game{
            @include devices(TV) {
                margin-left: -15%;
            }
            @include devices(desktop) {
                margin-left: -15%;
            }
            @include devices(laptops) {
                margin-left: -15%;
            }
            @include devices(ipad) {
                margin-left: -15%;
            }
            @include devices(mobile) {
                margin-left: -10%;                    

            }
        }
    }


    
}
/*
*** Animation
*/
@keyframes slideInLeft {
    0%{
        margin-left: -90%;
    }
    
    100%{
        margin-left: 0%;
    }
}
@keyframes slideInTop{
    0%{
        margin-top: 120vh;
    }
    100%{
        margin-top: 90vh;
    }
} 