/*******************************
            Flex Layout
  *******************************/
/************************************
                Flex
  *********************************/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexRowReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexColumnReverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
              Inline
  *********************************/
.inlineRow {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inlineRowReverse {
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.inlineColumn {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inlineColumnReverse {
  display: inline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/************************************
        Wrap : align on one line or on multiple with auto resize
  *********************************/
.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flexNoWrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flexWrapReverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

/************************************
          Width inside the flexboc
  *********************************/
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.flex-7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.flex-8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

.flex-9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.flex-10 {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.flex-11 {
  -webkit-box-flex: 11;
      -ms-flex: 11;
          flex: 11;
}

.flex-12 {
  -webkit-box-flex: 12;
      -ms-flex: 12;
          flex: 12;
}

/************************************
          alignment in cross axis | and main axis -
  *********************************/
.alignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/************************************
        self alignment 
  ************************************/
.selfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.selfCenter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.selfEnd {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.selfStretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@font-face {
  font-family: 'Monument_Black';
  src: URL("../../font/PPMonumentExtended-Black.otf") format("truetype");
}

@font-face {
  font-family: 'Monument_Light';
  src: URL("../../font/PPMonumentExtended-Light.otf") format("truetype");
}

@font-face {
  font-family: 'Monument_Regular';
  src: URL("../../font/PPMonumentExtended-Regular.otf") format("truetype");
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Monument_Regular';
  overflow-y: hidden;
}

.background {
  background: url("../../img/test.svg");
  position: absolute;
  mix-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.containerMatch {
  background: url("../../img/formsMatch.png") #1f1f1f;
  background-size: auto;
  mix-blend-mode: overlay;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.containerMatch .mainHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 2s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 2s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .mainHeader p {
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 1%;
  text-align: left;
  margin-left: 4%;
  width: 82vw;
  text-shadow: #a7771e 7px 7px;
}

.containerMatch .secondHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 2.5s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 2.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .secondHeader p {
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2rem;
  color: transparent;
  margin-top: 70%;
  margin-left: 35%;
}

.containerMatch .thirdHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .thirdHeader p {
  text-align: left;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2rem;
  color: transparent;
  margin-top: 21%;
  margin-left: 7%;
  width: 50vw;
}

.containerMatch .fourthHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .fourthHeader p {
  text-align: left;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2rem;
  color: transparent;
  margin-top: 27%;
  margin-left: 7%;
  width: 50vw;
}

.containerMatch .fifthHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .fifthHeader p {
  text-align: left;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2rem;
  color: transparent;
  margin-top: 33%;
  margin-left: 7%;
  width: 50vw;
}

.containerMatch .sixthHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .sixthHeader p {
  text-align: left;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2.75rem;
  color: white;
  margin-top: 17%;
  margin-left: 75%;
  width: 60vw;
}

.containerMatch .seventhHeader {
  position: absolute;
  z-index: 3;
  -webkit-animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
          animation: slideInLeft 3s cubic-bezier(0.23, 1, 0.32, 1);
}

.containerMatch .seventhHeader p {
  text-align: left;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  font-size: 2.75rem;
  color: white;
  margin-top: 57%;
  margin-left: 135%;
  width: 60vw;
}

.containerMatch .table {
  position: absolute;
  width: 100vw;
  height: 60vh;
  bottom: 5%;
}

.containerMatch .table .leagues {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  z-index: 3;
  text-align: center;
}

.containerMatch .table .leagues td {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: 1.5vw;
  padding-block: 0.975vh;
  width: 300px;
}

.containerMatch .table .leagues td .imgLeague {
  height: 48px;
}

.containerMatch .table .leagues td .series {
  text-align: center;
}

.containerMatch .table .leagues td .series a {
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #dbdbdb;
  background: -webkit-gradient(linear, right top, left top, color-stop(50.1%, rgba(255, 0, 0, 0)), color-stop(50%, #dbdbdb)) right;
  background: linear-gradient(to left, rgba(255, 0, 0, 0) 50.1%, #dbdbdb 50%) right;
  color: white;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.containerMatch .table .leagues td .series a:hover {
  font-size: 1.25rem;
  background-position: left;
  color: black;
}

.containerMatch .table .leagues a {
  text-decoration: none;
  font-size: 1.25rem;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #dbdbdb;
  background: -webkit-gradient(linear, right top, left top, color-stop(50.1%, rgba(255, 0, 0, 0)), color-stop(50%, #dbdbdb)) right;
  background: linear-gradient(to left, rgba(255, 0, 0, 0) 50.1%, #dbdbdb 50%) right;
  color: white;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.containerMatch .table .leagues a:hover {
  font-size: 1.25rem;
  background-position: left;
  color: black;
}

.containerMatch .table .leagues .score {
  font-size: 1.25rem;
  -webkit-transition: 2s;
  transition: 2s;
  color: white;
}

.containerMatch .backgroundBottom {
  position: absolute;
  height: 10vh;
  width: 100vw;
  background: #a7771e url("../../img/test.svg");
  mix-blend-mode: normal;
  bottom: 0%;
}

.player {
  -webkit-box-shadow: #000000 17px 17px;
          box-shadow: #000000 17px 17px;
}

.paginationNext {
  position: absolute;
  background: #1a1418 url("../../img/test.svg");
  background-blend-mode: overlay;
  right: 0;
  bottom: 60vh;
  width: 6vw;
  color: white;
  font-size: 2rem;
}

.paginationNext div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.paginationNext div Svg {
  fill: #dbdbdb;
  width: 3vw;
  padding: 5%;
}

.paginationNext :hover {
  cursor: pointer;
  -webkit-animation: blinkingArrow 2s  infinite;
          animation: blinkingArrow 2s  infinite;
}

.paginationPrevious {
  position: absolute;
  background: #1a1418 url("../../img/test.svg");
  background-blend-mode: overlay;
  left: 0;
  bottom: 60vh;
  width: 6vw;
  color: white;
  font-size: 2rem;
}

.paginationPrevious div {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.paginationPrevious div Svg {
  fill: #dbdbdb;
  width: 3vw;
  padding: 5%;
}

.paginationPrevious :hover {
  cursor: pointer;
  -webkit-animation: blinkingArrow 2s  infinite;
          animation: blinkingArrow 2s  infinite;
}

/*
*** Animation
*/
@-webkit-keyframes slideInLeft {
  0% {
    margin-left: -90%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes slideInLeft {
  0% {
    margin-left: -90%;
  }
  100% {
    margin-left: 0%;
  }
}

@-webkit-keyframes slideInTop {
  0% {
    margin-top: 120vh;
  }
  100% {
    margin-top: 90vh;
  }
}

@keyframes slideInTop {
  0% {
    margin-top: 120vh;
  }
  100% {
    margin-top: 90vh;
  }
}

@-webkit-keyframes blinkingArrow {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #1a1418;
  }
}

@keyframes blinkingArrow {
  0% {
    fill: #ffffff;
  }
  100% {
    fill: #1a1418;
  }
}
/*# sourceMappingURL=match.css.map */